src/cuemsutils/xml/schemas/settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
    Schema for per-node CUEMS settings.

    The instance file this schema validates is deployed to:
        /etc/cuems/settings.xml        (default)
        $CUEMS_CONF_PATH/settings.xml  (when the environment variable
                                         is set; precedence defined in
                                         cuemsutils.tools.ConfigManager)

    A reference template (with REPLACE-... placeholders for per-node
    values and inline operator guidance) lives in this same repo at:
        templates/settings.xml

    Any change to this schema MUST be reflected in the template — they
    are two sides of the same contract. In the future, the in-dev
    cuems-hardware-discovery project will consume the template, probe
    node hardware, and populate the final deployed file automatically.
-->
<xs:schema targetNamespace="https://stagelab.coop/cuems/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cms="https://stagelab.coop/cuems/">
    <xs:element name="CuemsSettings">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Settings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="conf_path" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="library_path" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="tmp_path" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="database_name" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="show_lock_file" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="editor_url" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="controller_url" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="templates_path" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="controller_interfaces_template" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="node_interfaces_template" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <xs:element name="controller_lock_file" type="xs:string" minOccurs="1" maxOccurs="1" />
                            <!-- Node settings -->
                            <xs:element name="node" type="cms:NodeConfType" minOccurs="1" maxOccurs="1"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- TYPES DEFINITIONS -->
    <xs:complexType name="NodeConfType">
        <xs:sequence>
            <xs:element name="uuid" type="cms:NonEmptyString" />
            <xs:element name="mac" type="cms:NonEmptyString" />
            <xs:element name="osc_dest_host" type="cms:NonEmptyString" />
            <xs:element name="oscquery_ws_port" type="cms:NonPrivilegedPort" />
            <xs:element name="oscquery_osc_port" type="cms:NonPrivilegedPort" />
            <xs:element name="websocket_port" type="cms:NonPrivilegedPort" />
            <xs:element name="load_timeout" type="xs:positiveInteger" />
            <xs:element name="nodeconf_timeout" type="xs:positiveInteger" />
            <xs:element name="discovery_timeout" type="xs:positiveInteger" />
            <xs:element name="mtc_port" type="xs:string" />
            <xs:element name="osc_in_port_base" type="cms:NonPrivilegedPort" />
            <xs:element name="nng_hub_port" type="cms:NonPrivilegedPort" />
            <xs:element name="videoplayer" type="cms:VideoPlayerType" minOccurs="0" maxOccurs="1" />
            <xs:element name="audioplayer" type="cms:AudioPlayerType" minOccurs="0" maxOccurs="1" />
            <xs:element name="audiomixer" type="cms:AudioMixerType" minOccurs="0" maxOccurs="1" />
            <xs:element name="dmxplayer" type="cms:DmxPlayerType" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PlayerType">
        <xs:sequence>
            <xs:element name="path" type="cms:NonEmptyString" />
            <xs:element name="args" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VideoPlayerType">
        <xs:complexContent>
            <xs:extension base="cms:PlayerType">
                <xs:sequence>
                    <xs:element name="outputs" type="xs:positiveInteger" />
                    <xs:element name="osc_port" type="cms:NonPrivilegedPort" minOccurs="0" />
                    <xs:element name="output_latency_ms" type="cms:AutoOrIntLatencyMsType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AudioPlayerType">
        <xs:complexContent>
            <xs:extension base="cms:PlayerType">
                <xs:sequence>
                    <xs:element name="audio_cards" type="xs:positiveInteger"></xs:element>
                    <xs:element name="output_latency_ms" type="cms:AutoOrIntLatencyMsType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AudioMixerType">
        <xs:complexContent>
            <xs:extension base="cms:PlayerType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="DmxPlayerType">
        <xs:complexContent>
            <xs:extension base="cms:PlayerType">
                <xs:sequence>
                    <xs:element name="universes" type="xs:positiveInteger"></xs:element>
                    <xs:element name="output_latency_ms" type="cms:IntLatencyMsType" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="BoolType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="True" />
            <xs:enumeration value="False" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DateType">
        <xs:restriction base="xs:dateTime">
            <xs:minInclusive value="2020-01-01T00:00:00"></xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TimecodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}:[0-9]{2}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CTimecodeType">
        <xs:choice>
            <xs:element name="CTimecode" type="cms:TimecodeType" default="00:00:00:00" />
            <xs:element name="NoneType" type="xs:string" />
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
            <xs:pattern value=".*[^\s].*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonPrivilegedPort">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="1024" />
            <xs:maxInclusive value="65535" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Audio and video: "auto" defers to the binary's built-in default
         or auto-calibration path (JACK query for audio; 33 ms hard-coded
         default for video, reserved for a future refresh-rate-derived
         heuristic). An integer is an explicit override in ms. -->
    <xs:simpleType name="AutoOrIntLatencyMsType">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:nonNegativeInteger">
                    <xs:maxInclusive value="500" />
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="auto" />
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <!-- DMX: integer only. No self-measurement path exists (no fixture-
         response rig); "auto" would imply magic that doesn't exist.
         Absent element = hard-coded 35 ms default in the binary. -->
    <xs:simpleType name="IntLatencyMsType">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:maxInclusive value="500" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
